body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(32, 31, 31);
}

@font-face {
    font-family: digitalFont;
    src: url(./fonts/digital-7.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 10px 10px;
    border: 3px solid beige;
    box-shadow: 2px 4px 16px beige;
    border-radius: 24px;
}

.logo {
    align-self: flex-start;
    padding: 15px 15px 0px 15px;
    font-size: 25px;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CalculatorName {
    align-self: flex-start;
    padding: 5px 15px 15px 15px;
    color: beige;
}

.screen {
    min-height:50px;
    background-color: beige;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 28px;
    font-family: digitalFont;
    color: #1f2937;
    margin-bottom: 20px;
    min-width: 220px;
    padding: 0px 0px 0px 10px;
}

.keypad {
    display:flex;
    flex-wrap: wrap;
    max-width: 248px;
}

.keys {
    margin: 7px;
    width: 48px;
    height: 48px;
    background-color: beige;
    border-radius: 48px;
    font-family: sans-serif;
    font-size: 16px;
}

.keys:hover {
    background-color: grey;
    color: beige;
}
